# Created by .ignore support plugin (hsz.mobi)
### C++ template
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake build folders & other shit
build
cmake-build-debug
CMakeCache.txt
CMakeFiles
cmake_install.cmake

# Project output files
*.vzf

# Vim swap files
*.swp

*.pro.user*
*/moc_*
Makefile
